// ------------------------------------------------
// =nav configuration
// ------------------------------------------------

$hamburger-layer-height: 3px;
$hamburger-layer-width: 25px;
$hamburger-layer-spacing: 4px;
$hamburger-padding-y: 0;
