// ------------------------------------------------
// = Media (video, images, etc.)
// ------------------------------------------------

// ------------------------------------------------
// =image containers
// ------------------------------------------------

.imgcontainer
{
    margin: 0;
    padding: 0;
}

// ------------------------------------------------
// =avatar image
// ------------------------------------------------

.img-avatar
{
    width: 32px;
    height: 32px;
}

// ------------------------------------------------
// =image effects
// ------------------------------------------------

.img-rounded
{
    border-radius: 50%;
}

// ------------------------------------------------
// =fluid images
// ------------------------------------------------

.fluidimage,
.fluidimage svg
{
    max-width: 100%;
}

.fluidimage--full,
.fluidimage--full svg
{
    width: 100%;
}


// ------------------------------------------------
// =fluid videos (youtube / vimeo)
// ------------------------------------------------

.fluidvideo
{
    margin: 0;
    padding: 0;
    position: relative; // positioning context for iframe
    padding-top: 56.25%;

    & > iframe
    {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}